<p id="notice"><%= notice %></p>

<p>
  <strong>Leave package:</strong>
  <%= @leaveapp.leave_package %>
</p>

<p>
  <strong>Name:</strong>
  <%= @leaveapp.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leaveapp.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @leaveapp.phone %>
</p>

<p>
  <strong>Military:</strong>
  <%= @leaveapp.military_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leaveapp.status %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @leaveapp.verified %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @leaveapp.slug %>
</p>

<p>
  <strong>Message:</strong>
  <%= @leaveapp.message %>
</p>

<p>
  <strong>Date:</strong>
  <%= @leaveapp.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @leaveapp.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @leaveapp.duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @leaveapp.user_id %>
</p>

<%= link_to 'Edit', edit_leaveapp_path(@leaveapp) %> |
<%= link_to 'Back', leaveapps_path %>
