<section class="layout-pt-md layout-pb-md">
  <div data-anim-wrap class="container">
    <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
      <div class="col-auto">
        <div class="sectionTitle -md">
          <h2 class="sectionTitle__title">Popular Hosted Vehicles</h2>
          <p class=" sectionTitle__text mt-5 sm:mt-0">Provide the perfect blend of performance and sophistication for your renters</p>
        </div>
      </div>
    </div>

    <div class="relative overflow-hidden pt-40 sm:pt-20 js-section-slider" data-gap="30" data-scrollbar data-slider-cols="xl-4 lg-3 md-2 sm-2 base-1" data-nav-prev="js-hotels-prev" data-pagination="js-hotels-pag" data-nav-next="js-hotels-next">
      <div class="swiper-wrapper">

        <div data-anim-child="slide-up delay-2" class="swiper-slide">

          <a href="#" class="carCard -type-1 d-block rounded-4 ">
            <div class="carCard__image">

              <div class="cardImage ratio border-light ratio-6:5">
                <div class="cardImage__content">

                  <img class="rounded-4 col-12" src="<%= asset_path 'cars/1.png' %>" alt="image">


                </div>

                <div class="cardImage__wishlist">
                  <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                    <i class="icon-heart text-12"></i>
                  </button>
                </div>


              </div>

            </div>

            <div class="carCard__content mt-10">
              <div class="d-flex items-center lh-14 mb-5">
                <div class="size-3 bg-light-1 rounded-full ml-10 mr-10"></div>
                <div class="text-14 text-light-1 uppercase">Luxury</div>
              </div>

              <h4 class="text-dark-1 text-18 lh-16 fw-500">
                Mercedes-Benz E-Class <span class="text-15 text-light-1 fw-400">or similar</span>
              </h4>
              <p class="text-light-1 lh-14 text-14 mt-5"></p>

              <div class="row x-gap-20 y-gap-10 items-center pt-5">
                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-user-2 mr-10"></i>
                    <div class="lh-14">4</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-luggage mr-10"></i>
                    <div class="lh-14">1</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-transmission mr-10"></i>
                    <div class="lh-14">Automatic </div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-speedometer mr-10"></i>
                    <div class="lh-14">Unlimited</div>
                  </div>
                </div>
              </div>

              <div class="d-flex items-center mt-20">
                <div class="flex-center bg-yellow-1 rounded-4 size-30 text-12 fw-600 text-dark-1">4.8</div>
                <div class="text-14 text-dark-1 fw-500 ml-10">Exceptional</div>
              </div>

              <div class="mt-5">
                <div class="text-light-1">
                </div>
              </div>
            </div>
          </a>

        </div>

        <div data-anim-child="slide-up delay-3" class="swiper-slide">

          <a href="#" class="carCard -type-1 d-block rounded-4 ">
            <div class="carCard__image">

              <div class="cardImage ratio border-light ratio-6:5">
                <div class="cardImage__content">


                  <div class="cardImage-slider rounded-4 overflow-hidden js-cardImage-slider">
                    <div class="swiper-wrapper">

                      <div class="swiper-slide">
                        <img class="col-12" src="<%= asset_path 'cars/2.png' %>" alt="image">
                      </div>

                      <div class="swiper-slide">
                        <img class="col-12" src="<%= asset_path 'cars/3.png' %>" alt="image">
                      </div>

                      <div class="swiper-slide">
                        <img class="col-12" src="<%= asset_path 'cars/1.png' %>" alt="image">
                      </div>

                    </div>

                    <div class="cardImage-slider__pagination js-pagination"></div>

                    <div class="cardImage-slider__nav -prev">
                      <button class="button -blue-1 bg-white size-30 rounded-full shadow-2 js-prev">
                        <i class="icon-chevron-left text-10"></i>
                      </button>
                    </div>

                    <div class="cardImage-slider__nav -next">
                      <button class="button -blue-1 bg-white size-30 rounded-full shadow-2 js-next">
                        <i class="icon-chevron-right text-10"></i>
                      </button>
                    </div>
                  </div>

                </div>

                <div class="cardImage__wishlist">
                  <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                    <i class="icon-heart text-12"></i>
                  </button>
                </div>


              </div>

            </div>

            <div class="carCard__content mt-10">
              <div class="d-flex items-center lh-14 mb-5">
                <div class="size-3 bg-light-1 rounded-full ml-10 mr-10"></div>
                <div class="text-14 text-light-1 uppercase">Suv</div>
              </div>

              <h4 class="text-dark-1 text-18 lh-16 fw-500">
                Jaguar F-Pace <span class="text-15 text-light-1 fw-400">or similar</span>
              </h4>
              <p class="text-light-1 lh-14 text-14 mt-5"></p>

              <div class="row x-gap-20 y-gap-10 items-center pt-5">
                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-user-2 mr-10"></i>
                    <div class="lh-14">4</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-luggage mr-10"></i>
                    <div class="lh-14">1</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-transmission mr-10"></i>
                    <div class="lh-14">Automatic </div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-speedometer mr-10"></i>
                    <div class="lh-14">Unlimited</div>
                  </div>
                </div>
              </div>

              <div class="d-flex items-center mt-20">
                <div class="flex-center bg-yellow-1 rounded-4 size-30 text-12 fw-600 text-dark-1">4.8</div>
                <div class="text-14 text-dark-1 fw-500 ml-10">Exceptional</div>
              </div>

              <div class="mt-5">
                <div class="text-light-1">

                </div>
              </div>
            </div>
          </a>

        </div>

        <div data-anim-child="slide-up delay-4" class="swiper-slide">

          <a href="#" class="carCard -type-1 d-block rounded-4 ">
            <div class="carCard__image">

              <div class="cardImage ratio border-light ratio-6:5">
                <div class="cardImage__content">

                  <img class="rounded-4 col-12" src="<%= asset_path 'cars/3.png' %>" alt="image">


                </div>

                <div class="cardImage__wishlist">
                  <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                    <i class="icon-heart text-12"></i>
                  </button>
                </div>


                <div class="cardImage__leftBadge">
                  <div class="py-5 px-15 rounded-right-4 text-12 lh-16 fw-500 uppercase bg-blue-1 text-white">
                    Best Seller
                  </div>
                </div>

              </div>

            </div>

            <div class="carCard__content mt-10">
              <div class="d-flex items-center lh-14 mb-5">
                <div class="size-3 bg-light-1 rounded-full ml-10 mr-10"></div>
                <div class="text-14 text-light-1 uppercase">Suv</div>
              </div>

              <h4 class="text-dark-1 text-18 lh-16 fw-500">
                Volvo XC90 <span class="text-15 text-light-1 fw-400">or similar</span>
              </h4>
              <p class="text-light-1 lh-14 text-14 mt-5"></p>

              <div class="row x-gap-20 y-gap-10 items-center pt-5">
                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-user-2 mr-10"></i>
                    <div class="lh-14">4</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-luggage mr-10"></i>
                    <div class="lh-14">1</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-transmission mr-10"></i>
                    <div class="lh-14">Automatic </div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-speedometer mr-10"></i>
                    <div class="lh-14">Unlimited</div>
                  </div>
                </div>
              </div>

              <div class="d-flex items-center mt-20">
                <div class="flex-center bg-yellow-1 rounded-4 size-30 text-12 fw-600 text-dark-1">4.8</div>
                <div class="text-14 text-dark-1 fw-500 ml-10">Exceptional</div>
              </div>

              <div class="mt-5">
                <div class="text-light-1">
                </div>
              </div>
            </div>
          </a>

        </div>

        <div data-anim-child="slide-up delay-5" class="swiper-slide">

          <a href="#" class="carCard -type-1 d-block rounded-4 ">
            <div class="carCard__image">

              <div class="cardImage ratio border-light ratio-6:5">
                <div class="cardImage__content">

                  <img class="rounded-4 col-12" src="<%= asset_path 'cars/4.png' %>" alt="image">


                </div>

                <div class="cardImage__wishlist">
                  <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                    <i class="icon-heart text-12"></i>
                  </button>
                </div>


              </div>

            </div>

            <div class="carCard__content mt-10">
              <div class="d-flex items-center lh-14 mb-5">
                <div class="size-3 bg-light-1 rounded-full ml-10 mr-10"></div>
                <div class="text-14 text-light-1 uppercase">Luxury</div>
              </div>

              <h4 class="text-dark-1 text-18 lh-16 fw-500">
                BMW 5 Series <span class="text-15 text-light-1 fw-400">or similar</span>
              </h4>
              <p class="text-light-1 lh-14 text-14 mt-5"></p>

              <div class="row x-gap-20 y-gap-10 items-center pt-5">
                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-user-2 mr-10"></i>
                    <div class="lh-14">4</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-luggage mr-10"></i>
                    <div class="lh-14">1</div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-transmission mr-10"></i>
                    <div class="lh-14">Automatic </div>
                  </div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center text-14 text-dark-1">
                    <i class="icon-speedometer mr-10"></i>
                    <div class="lh-14">Unlimited</div>
                  </div>
                </div>
              </div>

              <div class="d-flex items-center mt-20">
                <div class="flex-center bg-yellow-1 rounded-4 size-30 text-12 fw-600 text-dark-1">4.8</div>
                <div class="text-14 text-dark-1 fw-500 ml-10">Exceptional</div>
              </div>

              <div class="mt-5">
                <div class="text-light-1">
                </div>
              </div>
            </div>
          </a>

        </div>

      </div>


      <div class="d-flex x-gap-15 items-center justify-center pt-40 sm:pt-20">
        <div class="col-auto">
          <button class="d-flex items-center text-24 arrow-left-hover js-hotels-prev">
            <i class="icon icon-arrow-left"></i>
          </button>
        </div>

        <div class="col-auto">
          <div class="pagination -dots text-border js-hotels-pag"></div>
        </div>

        <div class="col-auto">
          <button class="d-flex items-center text-24 arrow-right-hover js-hotels-next">
            <i class="icon icon-arrow-right"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
