
<% if Feature.exists? %>
<section class="section-bg layout-pt-lg layout-pb-lg md:pt-0 md:pb-60 sm:pb-40 bg-blue-2">

  <% @headers.each do |a| %>
  <div class="section-bg__item -right -image col-5 md:mb-60 sm:mb-40 d-flex z-2">
    <img src="<%= a.abtsectionimg_url.to_s %>" alt="image">

    <div class="absolute col-12 h-full flex-center z-1">
      <a href="https://www.youtube.com/watch?v=ANYfx4-jyqY" class="d-flex items-center js-gallery" data-gallery="gallery1">
        <span class="button -outline-white text-white size-50 rounded-full flex-center">
          <i class="icon-play text-16"></i>
        </span>
        <span class="fw-500 text-white ml-15">Watch Video</span>
      </a>
    </div>
  </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-7">
        <% @headers.each do |a| %>

        <h2 class="text-30 fw-600"><%= a.features_title %>?</h2>
        <p class="mt-5"><%= a.features_sub_title %></p>

        <% end %>
        <div class="row y-gap-30 pt-60 md:pt-40">


          <% @features.take(3).each do |a| %>
          <div class="col-12">
            <div class="d-flex pr-30">
              <img class="size-50" src="<%= a.fimg_url.to_s %>" alt="image">

              <div class="ml-15">
                <h4 class="text-18 fw-500"><%= a.title %></h4>
                <p class="text-15 mt-10"><%= a.sub_title %></p>
              </div>
            </div>
          </div>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</section>
<% else %>

<section class="section-bg layout-pt-lg layout-pb-lg md:pt-0 md:pb-60 sm:pb-40 bg-blue-2">
  <div class="section-bg__item -right -image col-5 md:mb-60 sm:mb-40 d-flex z-2">
    <img src="<%= asset_path "backgrounds/10.png"%>" alt="image">

    <div class="absolute col-12 h-full flex-center z-1">
      <a href="https://www.youtube.com/watch?v=ANYfx4-jyqY" class="d-flex items-center js-gallery" data-gallery="gallery1">
        <span class="button -outline-white text-white size-50 rounded-full flex-center">
          <i class="icon-play text-16"></i>
        </span>
        <span class="fw-500 text-white ml-15">Watch Video</span>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-7">
        <h2 class="text-30 fw-600">Why Choose Our Services?</h2>
        <p class="mt-5">Leave rental management for us, While you enjoy your Adventures</p>

        <div class="row y-gap-30 pt-60 md:pt-40">

          <div class="col-12">
            <div class="d-flex pr-30">
              <img class="size-50" src="<%= asset_path "featureIcons/1/1.svg" %>" alt="image">

              <div class="ml-15">
                <h4 class="text-18 fw-500">Best Price Guarantee</h4>
                <p class="text-15 mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="d-flex pr-30">
              <img class="size-50" src="<%= asset_path "featureIcons/1/2.svg"%>" alt="image">

              <div class="ml-15">
                <h4 class="text-18 fw-500">Easy & Quick Booking</h4>
                <p class="text-15 mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="d-flex pr-30">
              <img class="size-50" src="<%= asset_path "featureIcons/1/3.svg"%>" alt="image">

              <div class="ml-15">
                <h4 class="text-18 fw-500">Customer Care 24/7</h4>
                <p class="text-15 mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
