  <!-- Start Newsletter Area -->
  <div class="newsletter-area">
      <div class="container">
          <div class="newsletter-inner-box">
              <div class="row align-items-center">
                  <div class="col-lg-4">
                      <div class="newsletter-content">
                          <h3>SUBSCRIBE TO NEWSLETTER!</h3>
                          <p>Subscribe to get the latest updates and information.</p>
                      </div>
                  </div>

                  <div class="col-lg-5">
                      <form class="newsletter-form">
                          <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required autocomplete="off">

                          <button type="submit">Subscribe Now</button>

                          <div id="validator-newsletter" class="form-result"></div>
                      </form>
                  </div>

                  <!-- <div class="col-lg-3">
                      <div class="newsletter-share-link">
                          <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                          <a href="#" target="_blank"><i class='bx bx-camera'></i></a>
                          <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                          <a href="#" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
  <!-- End Newsletter Area -->


  <% if Welcome.exists? %>
  <!-- Start Footer Area -->
  <footer class="footer-area pb-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <div class="logo-widget">

                        <%= link_to root_path do  %>

                          <img src="<%= asset_path "white1.png"%>" class="white-logo" alt="image">
                      <% end %>




                      </div>
                      <% @welcomes.each do |a| %>
                        <p><%= a.section %></p>
                      <% end %>
                      <div class="download-store">
                          <h4>DOWNLOAD UNIT LUXE</h4>

                          <a href="#" class="apple-store-btn">
                              <i class="flaticon-apple"></i>
                              Download On
                              <span>Apple Store</span>
                          </a>
                          <a href="#" class="play-store-btn">
                              <i class="flaticon-google-play"></i>
                              Download On
                              <span>Google Play</span>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>USEFUL LINKS</h3>

                      <ul class="quick-links">
                          <li>
                            <%= link_to root_path do %>
                            <i class='bx bxs-chevrons-right'></i>Home

                              <% end %>
                          </li>

                          <li>
                            <%= link_to services_path do %>
                            <i class='bx bxs-chevrons-right'></i>Services

                              <% end %>
                          </li>
                          <li>
                            <%= link_to blogs_path do %>
                            <i class='bx bxs-chevrons-right'></i>News & Updates

                              <% end %>                          </li>
                          <li>
                            <%= link_to faqs_path do %>
                            <i class='bx bxs-chevrons-right'></i>FAQ's

                              <% end %>                          </li>





                      </ul>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>GET IN TOUCH</h3>

                      <% @welcomes.take(1).each do |a| %>
                      <ul class="footer-info">
                          <li>
                              Address:
                              <span><%= a.address %></span>
                          </li>
                          <!-- <li>
                              Phone:
                              <span><a href="tel:<%= a.phone %>"><%= a.phone %></a></span>
                          </li> -->
                          <li>
                              Email:
                              <span><a href="mailto:<%= a.email %>?subject=feedback"><%= a.email %></a></span>
                          </li>
                      </ul>
                      <% end %>

                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>About Us</h3>

                      <ul class="quick-links">

                                                      <% @abouts.each do |a| %>

                                                  <li>
                                                    <%= link_to  a do %>
                                                    <i class='bx bxs-chevrons-right'></i><%= a.title %>

                                                      <% end %>                          </li>

                                                  <% end %>
                      </ul>
                  </div>
              </div>


          </div>

      </div>
  </footer>

  <% else %>
  <!-- Start Footer Area -->
  <footer class="footer-area pb-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <div class="logo-widget">
                          <a href="index.html">
                              <img src="assets/images/white-logo.png" alt="image">
                          </a>
                      </div>
                      <p>Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>

                      <div class="download-store">
                          <h4>DOWNLOAD THE MUND APP</h4>

                          <a href="#" class="apple-store-btn">
                              <i class="flaticon-apple"></i>
                              Download On
                              <span>Apple Store</span>
                          </a>
                          <a href="#" class="play-store-btn">
                              <i class="flaticon-google-play"></i>
                              Download On
                              <span>Google Play</span>
                          </a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>USEFUL LINKS</h3>

                      <ul class="quick-links">
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>Home</a>
                          </li>
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>About</a>
                          </li>
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>Contact</a>
                          </li>
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>Blog</a>
                          </li>
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>FAQs</a>
                          </li>
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>Privacy Policy</a>
                          </li>
                          <li>
                              <a href="#"><i class='bx bxs-chevrons-right'></i>Terms Of Use</a>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>GET IN TOUCH</h3>

                      <ul class="footer-info">
                          <li>
                              Address:
                              <span>2364 Oakdale Avenue Clearwater, <br> FL 34620, New York, USA</span>
                          </li>
                          <li>
                              Phone:
                              <span><a href="tel:15143126677">+1 (514) 312-6677</a></span>
                          </li>
                          <li>
                              Email:
                              <span><a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#1179747d7d7e517c647f753f727e7c"><span class="__cf_email__" data-cfemail="e8808d848487a8859d868cc68b8785">[email&#160;protected]</span></a></span>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="col-lg-3 col-sm-6">
                  <div class="single-footer-widget">
                      <h3>FOLLOW US ON INSTAGRAM</h3>

                      <ul class="instagram-list">
                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-1.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-2.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-3.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-4.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-5.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-6.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-7.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-8.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>

                          <li>
                              <div class="box">
                                  <img src="assets/images/instagram/instagram-9.jpg" alt="image">
                                  <i class="bx bxl-instagram"></i>
                                  <a href="#" target="_blank" class="link-btn"></a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>

  <% end %>

  <!-- End Footer Area -->

  <!-- Start Copy Right Area -->
  <!-- <div class="copyright-area">
      <div class="container">
          <div class="copyright-area-content">
              <p>
                  Copyright @<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear())</script> Mund is proudly created by
                  <a href="https://envytheme.com/" target="_blank">
                      EnvyTheme
                  </a>
              </p>
          </div>
      </div>
  </div> -->
  <!-- End Copy Right Area -->

  <!-- Start Go Top Area -->
  <div class="go-top">
      <i class='bx bx-up-arrow-alt'></i>
  </div>
  <!-- End Go Top Area -->
