<!-- Start Featured Cars Area -->
<section class="featured-cars-area bg-161c2d pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Luxury & Antique Cars</h2>
            <p>Find the best car of your choice at a stunning 50% discount from Our Reputable Dealers of your choice </p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-featured-cars-box">
                    <div class="box-image">
                        <a href="car-details.html"><img src="<%= asset_path "featured-cars/featured-cars-7.jpg"%>" alt="image"></a>

                        <div class="icon">
                            <a href="car-details.html">
                                <i class="flaticon-gallery"> 5</i>
                            </a>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="tag">$30,000</div>
                        <h3>
                            <a href="car-details.html">2021 VOLVO XC60</a>
                        </h3>
                        <p><b>MILEAGES</b> 4 Miles, Orland Park</p>
                    </div>
                </div>

                <div class="single-featured-cars-box">
                    <div class="box-image">
                        <a href="car-details.html"><img src="<%= asset_path "featured-cars/featured-cars-8.jpg" %>" alt="image"></a>

                        <div class="icon">
                            <a href="car-details.html">
                                <i class="flaticon-gallery"> 4</i>
                            </a>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="tag">$55,000</div>
                        <h3>
                            <a href="car-details.html">2021 TOYOTA RAV4</a>
                        </h3>
                        <p><b>MILEAGES</b> 5 Miles, Orland Park</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-featured-cars-box">
                    <div class="box-image">
                        <a href="car-details.html"><img src="<%= asset_path "featured-cars/featured-cars-9.jpg"%>" alt="image"></a>

                        <div class="icon">
                            <a href="car-details.html">
                                <i class="flaticon-gallery"> 6</i>
                            </a>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="tag">$99,000</div>
                        <h3>
                            <a href="car-details.html">2021 MAZDA CX-30</a>
                        </h3>
                        <p><b>MILEAGES</b> 5 Miles, Willoughby Hills OH</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-featured-cars-box">
                    <div class="box-image">
                        <a href="car-details.html"><img src="<%= asset_path "featured-cars/featured-cars-10.jpg"%>" alt="image"></a>

                        <div class="icon">
                            <a href="car-details.html">
                                <i class="flaticon-gallery"> 9</i>
                            </a>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="tag">$45,000</div>
                        <h3>
                            <a href="car-details.html">2021 NISSAN CX-10</a>
                        </h3>
                        <p><b>MILEAGES</b> 7 Miles, Orland Park</p>
                    </div>
                </div>

                <div class="single-featured-cars-box">
                    <div class="box-image">
                        <a href="car-details.html"><img src="<%= asset_path "featured-cars/featured-cars-11.jpg"%>" alt="image"></a>

                        <div class="icon">
                            <a href="car-details.html">
                                <i class="flaticon-gallery"> 2</i>
                            </a>
                        </div>
                    </div>

                    <div class="box-content">
                        <div class="tag">$65,000</div>
                        <h3>
                            <a href="car-details.html">2021 VOLVO XC10</a>
                        </h3>
                        <p><b>MILEAGES</b> 6 Miles, Ramsey, NJ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Cars Area -->
