
<% if Service.exists? %>
<section class="choose-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="choose-item">
                  <% @headers.take(1).each do |a| %>
                    <div class="content">
                        <h3><%= a.features_title %></h3>
                    </div>
                    <% end %>


                    <% @services.take(3).each do |a| %>
                    <div class="choose-inner-content">
                        <div class="icon">
                            <i class="<%= a.icon %>"></i>
                        </div>
                        <h4><%= link_to a.title, a %></h4>
                        <p><%= a.sub_title %>.</p>
                    </div>
                    <% end %>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="choose-image">
                    <img src="<%= asset_path "choose/choose-1.jpg" %>" alt="image">

                    <div class="image-box">
                        <img src="<%= asset_path "choose/choose-2.jpg" %>" alt="image">

                        <a href="https://www.youtube.com/watch?v=nzm2GDQw9kE" class="video-btn popup-youtube">
                            <i class='bx bx-play' ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% else %>
    <section class="choose-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="choose-item">
                        <div class="content">
                            <h3>WHY CHOOSE Unit Luxe</h3>
                            <p>There are many reasons to like Mund</p>
                        </div>

                        <div class="choose-inner-content">
                            <div class="icon">
                                <i class="flaticon-handshake"></i>
                            </div>
                            <h4>TRANSPARENT DEAL</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi maecenas.</p>
                        </div>

                        <div class="choose-inner-content">
                            <div class="icon">
                                <i class="flaticon-perfect"></i>
                            </div>
                            <h4>HASSLE-FREE</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi maecenas.</p>
                        </div>

                        <div class="choose-inner-content">
                            <div class="icon">
                                <i class="flaticon-headache"></i>
                            </div>
                            <h4>WORRY-FREE</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi maecenas.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="choose-image">
                        <img src="<%= asset_path "choose/choose-1.jpg" %>" alt="image">

                        <div class="image-box">
                            <img src="<%= asset_path "choose/choose-2.jpg" %>" alt="image">

                            <a href="https://www.youtube.com/watch?v=nzm2GDQw9kE" class="video-btn popup-youtube">
                                <i class='bx bx-play' ></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<% end %>
