<p id="notice"><%= notice %></p>

<h1>Csections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Sub title</th>
      <th>Body</th>
      <th>Csecctionimg</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csections.each do |csection| %>
      <tr>
        <td><%= csection.title %></td>
        <td><%= csection.sub_title %></td>
        <td><%= csection.body %></td>
        <td><%= csection.csecctionimg %></td>
        <td><%= csection.slug %></td>
        <td><%= link_to 'Show', csection %></td>
        <td><%= link_to 'Edit', edit_csection_path(csection) %></td>
        <td><%= link_to 'Destroy', csection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Csection', new_csection_path %>
