<tr>
  <!--start -->
  <td data-bgcolor="bg-block" class="holder" style="padding:58px 60px 52px;" bgcolor="#f9f9f9">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center" style="font:35px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
          Co-Host Registration
        </td>
      </tr>


      <tr>
        <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
          Host Username: <%= @user.username %><br>
          Host Account details
          <p><strong>Name:</<strong> <%= @vehicle.l_first_name %> <%= @vehicle.l_fast_name %>
          </p>
          <br>
          <p><strong>Pick-Up Location:</strong><%= @vehicle.l_address %></p>

          <p><strong>Registration Email:</strong><%= @user.email %></p>
          <br>
          <p> <strong>Host Contact Email</strong><%= @vehicle.l_email %></p>

          Host Information <br />
          Thank You
        </td>
      </tr>


      <tr>
        <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
          Host Vehicle: <%= @vehicle.v_name %> <br>
          Host Vehicle Details:
          <p><strong>Vehicle Name:</<strong> <%= @vehicle.v_name %>

          </p>
          <p><strong>Vehicle Type:</strong>  <%= @vehicle.v_type %></p>
          <br>
          <p><strong>Vehicle Plate_number:</strong><%= @vehicle.v_plate_number%></p>

          <p><strong>Vehicle Information:</strong><%= @user.email %></p>
          <br>
          <p> <strong>Host Contact Email</strong><%= @vehicle.v_info %></p>

        </td>
      </tr>



      <tr>
        <td style="padding:0 0 20px;">
          <table width="134" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
            <tr>
              <td data-bgcolor="bg-button" data-size="size button" data-min="10" data-max="16" class="btn" align="center" style="font:12px/14px Arial, Helvetica, sans-serif; color:#f8f9fb; text-transform:uppercase; mso-padding-alt:12px 10px 10px; border-radius:2px;" bgcolor="#7bb84f">
                <%= link_to "Admin", root_path, style: "text-decoration:none; color:#f8f9fb; display:block; padding:12px 10px 10px;" %>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr><td height="28"></td></tr>
