<p id="notice"><%= notice %></p>

<p>
  <strong>V debt:</strong>
  <%= @reporescue.v_debt %>
</p>

<p>
  <strong>Repo time:</strong>
  <%= @reporescue.repo_time %>
</p>

<p>
  <strong>Repo plan:</strong>
  <%= @reporescue.repo_plan %>
</p>

<p>
  <strong>V name:</strong>
  <%= @reporescue.v_name %>
</p>

<p>
  <strong>V type:</strong>
  <%= @reporescue.v_type %>
</p>

<p>
  <strong>V info:</strong>
  <%= @reporescue.v_info %>
</p>

<p>
  <strong>V model:</strong>
  <%= @reporescue.v_model %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reporescue.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @reporescue.user_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @reporescue.slug %>
</p>

<p>
  <strong>Pk address:</strong>
  <%= @reporescue.pk_address %>
</p>

<p>
  <strong>D address:</strong>
  <%= @reporescue.d_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reporescue.phone %>
</p>

<p>
  <strong>Vrepoimg:</strong>
  <%= @reporescue.vrepoimg %>
</p>

<%= link_to 'Edit', edit_reporescue_path(@reporescue) %> |
<%= link_to 'Back', reporescues_path %>
