<p id="notice"><%= notice %></p>

<p>
  <strong>V name:</strong>
  <%= @reporepair.v_name %>
</p>

<p>
  <strong>V type:</strong>
  <%= @reporepair.v_type %>
</p>

<p>
  <strong>V info:</strong>
  <%= @reporepair.v_info %>
</p>

<p>
  <strong>V model:</strong>
  <%= @reporepair.v_model %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reporepair.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @reporepair.user_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @reporepair.slug %>
</p>

<p>
  <strong>Pk address:</strong>
  <%= @reporepair.pk_address %>
</p>

<p>
  <strong>D address:</strong>
  <%= @reporepair.d_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reporepair.phone %>
</p>

<p>
  <strong>Vimg:</strong>
  <%= @reporepair.vimg %>
</p>

<%= link_to 'Edit', edit_reporepair_path(@reporepair) %> |
<%= link_to 'Back', reporepairs_path %>
