<p id="notice"><%= notice %></p>

<p>
  <strong>Luximg:</strong>
  <%= @lux_listingitem.luximg %>
</p>

<p>
  <strong>Iframelink:</strong>
  <%= @lux_listingitem.iframelink %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @lux_listingitem.mileage %>
</p>

<p>
  <strong>Bodytype:</strong>
  <%= @lux_listingitem.bodytype %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @lux_listingitem.doors %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @lux_listingitem.engine %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @lux_listingitem.transmission %>
</p>

<p>
  <strong>Drivetrain:</strong>
  <%= @lux_listingitem.drivetrain %>
</p>

<p>
  <strong>Exteriorcolor:</strong>
  <%= @lux_listingitem.exteriorcolor %>
</p>

<p>
  <strong>Interiorcolor:</strong>
  <%= @lux_listingitem.interiorcolor %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @lux_listingitem.condition %>
</p>

<p>
  <strong>Feul:</strong>
  <%= @lux_listingitem.feul %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lux_listingitem.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @lux_listingitem.slug %>
</p>

<p>
  <strong>Listingcat:</strong>
  <%= @lux_listingitem.listingcat %>
</p>

<p>
  <strong>References:</strong>
  <%= @lux_listingitem.references %>
</p>

<%= link_to 'Edit', edit_lux_listingitem_path(@lux_listingitem) %> |
<%= link_to 'Back', lux_listingitems_path %>
