<!-- Start Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>About Us</h2>

            <ul class="pages-list">
                <li><a href="#">Home</a></li>
                <li><span>About Us</span></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->


<%= render "shared/abouts" %>
<%= render "shared/abtindex" %>
<%= render "shared/hows" %>

<%= render "shared/partners" %>
<%= render "shared/reviews" %>

<%= render "shared/faqs" %>
