<p id="notice"><%= notice %></p>

<p>
  <strong>Iframelink:</strong>
  <%= @listingitem.iframelink %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @listingitem.mileage %>
</p>

<p>
  <strong>Bodytype:</strong>
  <%= @listingitem.bodytype %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @listingitem.doors %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @listingitem.engine %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @listingitem.transmission %>
</p>

<p>
  <strong>Drivetrain:</strong>
  <%= @listingitem.drivetrain %>
</p>

<p>
  <strong>Exteriorcolor:</strong>
  <%= @listingitem.exteriorcolor %>
</p>

<p>
  <strong>Interiorcolor:</strong>
  <%= @listingitem.interiorcolor %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listingitem.condition %>
</p>

<p>
  <strong>Feul:</strong>
  <%= @listingitem.feul %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listingitem.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @listingitem.slug %>
</p>

<p>
  <strong>Listingcat:</strong>
  <%= @listingitem.listingcat %>
</p>

<p>
  <strong>References:</strong>
  <%= @listingitem.references %>
</p>

<%= link_to 'Edit', edit_listingitem_path(@listingitem) %> |
<%= link_to 'Back', listingitems_path %>
