<p id="notice"><%= notice %></p>

<p>
  <strong>Leave package:</strong>
  <%= @carepack.leave_package %>
</p>

<p>
  <strong>Name:</strong>
  <%= @carepack.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @carepack.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @carepack.phone %>
</p>

<p>
  <strong>Military:</strong>
  <%= @carepack.military_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @carepack.status %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @carepack.verified %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @carepack.slug %>
</p>

<p>
  <strong>Message:</strong>
  <%= @carepack.message %>
</p>

<p>
  <strong>Date:</strong>
  <%= @carepack.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @carepack.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @carepack.duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @carepack.user_id %>
</p>

<%= link_to 'Edit', edit_carepack_path(@carepack) %> |
<%= link_to 'Back', carepacks_path %>
