<!DOCTYPE html>
<html>
<head>
  <%  @welcomes = Welcome.all  %>
  <% @welcomes.take(1).each do |w| %>
  <title><%= w.title %> || Online Account </title>
  <meta name="description" content="<%= w.desc %>">
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'accounts', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'accounts', 'data-turbolinks-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js" integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
    toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
  </script>
  <% end %>

  <div class="layout">
    <div class="vertical-layout">

      <%   @abouts = About.all %>
      <%   @welcomes = Welcome.all %>
     <%   @users = User.where(user_id: current_user) %>
      <%  @accounts = Account.where(user_id: current_user).order('created_at DESC')  %>
      <%  @headers = Header.all %>

      <% if Account.where(user_id: current_user.id).exists?%>
      <%= render "shared/menu" %>
      <%= render "shared/sidebar" %>

      <div class="content">
          <div class="main">
            <%= yield %>
          </div>
      </div>
      <% else %>
      <div class="auth-full-height container d-flex flex-column justify-content-center">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="card row mx-0 flex-row overflow-hidden">


              <% if Header.exists? %>
              <% @headers.take(1).each do |h| %>
              <div class="col-md-4 bg-size-cover d-flex align-items-center p-4" style="background-image: url(<%= h.headerimg_url.to_s %>);">
                <div>
                  <div class="mb-5">
                    <div class="logo">
                      <img alt="logo" class="img-fluid" src="<%= h.adminlogoimg_url.to_s %>" style="height: 50px;">
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <% else %>
              <div class="col-md-4 bg-size-cover d-flex align-items-center p-4" style="background-image: url('<%= asset_path "bg-3.jpg" %>');">
                <div>
                  <div class="mb-5">
                    <div class="logo">
                      <img alt="logo" class="img-fluid" src="assets/images/logo/logo-white.png" style="height: 50px;">
                    </div>
                  </div>
                  <h3 class="text-white">Make your work easier</h3>
                  <p class="text-white mt-4 mb-5 o-75">Climb leg rub face on everything give attitude under the bed.</p>
                </div>
              </div>
              <% end %>


              <% @headers.take(1).each do |a| %>
              <div class="col-md-8 px-0">
                <div class="card-body">
                  <h2 ><%= a.admin_title %></h2>
                  <p class=" mt-4 mb-5 o-75">
                    <%= a.admin_sub_title %>
                  </p>

                  <%= link_to 'Next', new_account_path, class: "btn btn-primary w-100" %>

                </div>
              </div>
              <% end %>




            </div>
          </div>
        </div>
      </div>

      <%end %>



      <%= javascript_include_tag 'app.min' %>

    </body>
    </html>
