  <!DOCTYPE html>
  <html class="theme-dark">
  <head>
    <%  @welcomes = Welcome.all  %>
    <% @welcomes.take(1).each do |w| %>
    <title><%=w.title %> Unit Luxe || <%= w.desc %> </title>
    <meta name="description" content="<%= w.desc %>">
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

        <link href="https://www.jsdelivr.com/package/npm/icomoon" rel="stylesheet">

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap" rel="stylesheet">




  </head>

  <body >

    <% unless flash.empty? %>
   <script type="text/javascript">
       <% flash.each do |f| %>
       <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
       <% end %>
   </script>

  <% end %>

  <% @abouts = About.all.order('created_at ASC') %>
  <% @features = Feature.all.order('created_at ASC') %>

  <% @services = Service.all.order('created_at ASC') %>
  <% @welcomes = Welcome.all %>
  <% @headers = Header.all %>
  <%  @csections = Csection.all %>
  <%  @listingcats = Listingcat.all %>
  <%  @reviews = Review.all %>
 <%  @luxListingitems = LuxListingitem.all.order('created_at ASC')  %>

  <%  @rentals = Rental.all.order('created_at ASC') %>






  <main>

  <%= render "shared/header" %>



  <%= yield %>

  <%= render "shared/footer" %>

  </main>



  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>

    <%= javascript_include_tag 'main' %>


    </body>
  </html>
