<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4
        class="header-title mt-0">Recent Activity</h4>
        <div class="table-responsive">
          <table class="table">
            <thead >
              <tr>
                <th>Booking Date</th>
                <th> Name</th>
                <th>Contact Details</th>
                <th>Request Purpose</th>
                <th>Fee</th>

                <th>Status</th>

              </tr>
              <!--end tr-->
            </thead>
            <tbody>
              <% @leaveapps.each do |a| %>
              <tr>

              <td><%= a.created_at.strftime("%d") %>,
                <span><%= a.created_at.strftime("%B") %></span>,
                <span><%= a.created_at.strftime("%Y") %></span>
              </td>
              <td><%= a.name %></td>
              <td><%= a.email %>-<br><%= a.phone %></td>

              <td><%= a.message %></td>


              <td><% if a.status? %>

                <%= link_to a, class: "btn btn-sm btn-outline-info" do %>
                Approved
                <% end %>
                <% else %>
                <%= link_to a, class: "btn btn-sm btn-outline-warning" do %>
                Pending Confirmation
                <% end %>
                <% end %>
              </td>
              <td><% if a.status? %>

                <%= link_to a, class: "btn btn-success" do %>
              View
                <% end %>
                <% else %>
                <%= link_to a, class: "btn btn-warning" do %>
                Pending
                <% end %>
                <% end %>
              </td>
              <% end %>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
